body{
    font-family: 'Life Savers', cursive;
    background-color:rgba(34, 243, 201, 0.867);
    padding:10px;
    
}
#title-wrapper{
    display:flex;
    flex-direction: column;
    height:600px;
    align-items: center;
}
h1{
    zoom:120%;
    color:#15bbbb;
    -webkit-text-stroke: 1px black;
    background-color: rgba(183,15,4,255);
    border-radius: 15px 50px;
    border:solid 2px black;
    padding:15px;
    transform: rotate(5deg);
    margin:20px 0 0;
    white-space:nowrap;
    box-shadow: #0b5f5f 15px 13px 9px;
}
#intro-donkey{
    height:500px;
    width:250px;
    filter: drop-shadow(0.4rem 0.4rem 0.4rem #0b5f5f);
}
#instructions{
    position:absolute;
    left:220px;
    top:140px;
    z-index:1;
}

#game-wrapper{
    margin:auto;
    display:flex;
    flex-direction:row;
    height:600px;
}
#background-image{
    display:block;
    border-radius:inherit;
    cursor:grab;
}
#play-area{
    position:relative;
    height:fit-content;
    margin:10px;
    box-shadow: #0b5f5f 15px 13px 9px;
    border-radius: 25px;
    border:solid 2px black;
}
#status{
    zoom:120%;
}
input{
    width:3rem;
    border-radius: 25px;
    background-color: #15bbbb;
    text-align:center;
}
input:focus{
    outline:none;
}
#controls{
    display:flex;
    flex-direction: row;
    position:absolute;
    background-color:rgba(183,15,4,255);
    width:100%;
    padding:10px 0px;
    align-items:center;
    justify-content: space-around;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}
button{
    padding:20px;
    border-radius: 25px;
    background-color: #15bbbb;
    cursor:pointer;
}
#status{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#donkey{
    position:absolute;
    width:100px;
    left:250px;
    bottom:155px;
    filter: drop-shadow(0.5rem 1rem 1rem rgb(10, 10, 10));
    cursor:grab;
}
#donkey:active{
    cursor:grabbing;
}
footer{
    margin-top:50px;
    font-size:x-small;
}
/*font-family: 'Butterfly Kids', cursive;*/